<launch>
<node name="broadcast_node" pkg="final_project" type="broadcast_node" respawn ="false" output ="screen">
	</node>
	<node name="VidRec" pkg="final_project" type="VidRec" respawn ="false" output ="screen">
	</node>
	 <group ns="camera">
        <node pkg="nodelet" type="nodelet" args="manager" name="standalone_nodelet" output="screen"/>
        <node pkg="nodelet" type="nodelet" name="depth_image_proc"
            args="load depth_image_proc/point_cloud_xyzrgb standalone_nodelet " output="screen">
            <remap from="rgb/camera_info"               to="/camera/rgb/camera_info" />
            <remap from="rgb/image_rect_color"          to="/camera/rgb/image_rect_color"/>
            <remap from="depth_registered/image_rect"   to="/camera/depth_registered/sw_registered/image_rect"/>
            <remap from="depth_registered/points"       to="/camera/depth_registered/points"/>
            <param name="queue_size" value="10"/>
        </node>
      </group>
	<node name="camera_info" pkg="rostopic" type="rostopic"
  args="pub /camera/rgb/camera_info sensor_msgs/CameraInfo
 '{header: {seq: 0, stamp: {secs: 0, nsecs: 0}, frame_id: 'camera_rgb_optical_frame'},
  height: 480, width: 640, distortion_model: 'plumb_bob',
  D: [0.0, 0.0, 0.0, 0.0, 0.0],
  K: [525.0, 0.0, 319.5, 0.0, 525.0, 239.5, 0.0, 0.0, 1.0],
  R: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
  P: [525.0, 0.0, 319.5, 0.0, 0.0, 525.0, 239.5, 0.0, 0.0, 0.0, 1.0, 0.0],
  binning_x: 0, binning_y: 0,
  roi: {x_offset: 0, y_offset: 0, height: 0, width: 0, do_rectify: false}}' -r 2"/>
  <node name="player" pkg="rosbag" type="play" output="screen" args="/home/nalin/tf.bag"/>
</launch>
