<launch>
  <arg name="frame_width" default="640"/>
  <arg name="frame_height" default="480"/>
  <arg name="rgb" default="RGBout.avi"/>
  <arg name="depth" default="depth_data"/>
  <node name="broadcast_node" pkg="final_project" type="broadcast_node" respawn ="false" output ="screen">
    <param name="width" value="$(arg frame_width)" type="int"/>
    <param name="height" value="$(arg frame_height)" type="int"/>
    <param name="rgb_file" value="$(arg rgb)" type="string"/>
    <param name="depth_file" value="$(arg depth)" type="string"/>
  </node>
  <node name="pointCloud_node" pkg="final_project" type="pointCloud_node" respawn="false" output="screen"/>
  <node name="camera_info" pkg="rostopic" type="rostopic" args="pub /camera/rgb/camera_info sensor_msgs/CameraInfo
 '{header: {seq: 0, stamp: {secs: 0, nsecs: 0}, frame_id: 'camera_rgb_optical_frame'},
  height: 480, width: 640, distortion_model: 'plumb_bob',
  D: [0.0, 0.0, 0.0, 0.0, 0.0],
  K: [525.0, 0.0, 319.5, 0.0, 525.0, 239.5, 0.0, 0.0, 1.0],
  R: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
  P: [525.0, 0.0, 319.5, 0.0, 0.0, 525.0, 239.5, 0.0, 0.0, 0.0, 1.0, 0.0],
  binning_x: 0, binning_y: 0,
  roi: {x_offset: 0, y_offset: 0, height: 0, width: 0, do_rectify: false}}' -r 30"/>
</launch>
