<launch>
	<arg name="video_topic" default="/camera/rgb/image_color"/>
	<arg name="depth_topic" default="/camera/depth/image_raw"/>
	<arg name="frame_width" default="640"/>
	<arg name="frame_height" default="480"/>
	<arg name="video_codec" default="h264"/>
	<arg name="rgb" default="RGBout.avi"/>
	<arg name="depth" default="depth_data"/>
	<node name="compress_node" pkg="final_project" type="compress_node" respawn ="false" output ="screen">
		<param name="video" value="$(arg video_topic)" type="string"/>
		<param name="depth" value="$(arg depth_topic)" type="string"/>
		<param name="width" value="$(arg frame_width)" type="int"/>
		<param name="height" value="$(arg frame_height)" type="int"/>
		<param name="codec" value="$(arg video_codec)" type="str"/>
		<param name="rgb_file" value="$(arg rgb)" type="string"/>
		<param name="depth_file" value="$(arg depth)" type="string"/>
	</node>
</launch>
